<h2>WorkTimeTable</h2>
<%= link_to '<<', {:controller => 'work_time_table', :action => 'index', :month => (@month - 1.month).strftime('%Y-%m-%d')} %>
<%= @month.strftime('%Y-%m') %>
<%= link_to '>>', {:controller => 'work_time_table', :action => 'index', :month => (@month + 1.month).strftime('%Y-%m-%d')} %>

<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
      <% @activities.each do |a| %>
        <th>
          <%= a %>
        </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% (@month.beginning_of_month.to_date..@month.end_of_month ).each do |day| %>
    <tr>
      <% d = day.strftime('%Y-%m-%d') %>
      <td>
        <%= d %>
      </td>
      <% @activities.each do |a| %>
        <td>
          <%= @time_log[a][d] || 0.0 %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
