<h2>WorkTimeTable</h2>
<%= link_to '<<', {:controller => 'work_time_table', :action => 'index', :month => (@month - 1.month).strftime('%Y-%m-%d')} %>
<%= @month.strftime('%Y-%m') %>
<%= link_to '>>', {:controller => 'work_time_table', :action => 'index', :month => (@month + 1.month).strftime('%Y-%m-%d')} %>

<table class = "table worktime">
  <thead>
    <tr>
      <th class="date">
        Date
      </th>
      <% @activities.each do |k, a| %>
        <th>
          <%= a %>
        </th>
      <% end %>
      <th>
        Total
      </th>
    </tr>
  </thead>
  <tbody>
    <% (@month.beginning_of_month.to_date..@month.end_of_month ).each_with_index do |day, i| %>
    <tr class="row <%= (i + 1) % 2 == 0 ? "even" : "odd"%>">
      <% d = day.strftime('%Y-%m-%d') %>
      <td class="date">
        <%= d %>
      </td>
      <% total = 0.0 %>
      <% @activities.each do |k, a| %>
        <td class="activity <%= a %>">
          <% if @time_log[d][a] %>
            <%= link_to @time_log[d][a], {:controller => 'timelog', :action => 'index', :user_id => 'me', :activity_id => k, :spent_on => d} %>
          <% else %>
            <%= '-' %>
          <% end %>
        </td>
      <% end %>
      <td class = "total">
        <%= @time_log[d].map{ |k,v| v }.inject{ |sum, n| sum + n } || 0.0 %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
